.ql-toolbar {
    display: flex;
    flex-direction: column;
    
  }
  
  .ql-toolbar .ql-formats {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ql-toolbar .ql-formats > * {
    margin: 2px; /* Add spacing between buttons */
  }
  
  .ql-toolbar .ql-formats:first-of-type {
    margin-bottom: 4px; /* Add space between rows */
  }

  .ql-editor::before {
    content: attr(data-placeholder); /* Use placeholder text */
    color: #aaa; /* Set placeholder text color */
    position: absolute; /* Position it absolutely */
    left: 10px; /* Adjust left positioning */
    top: 10px; /* Adjust top positioning */
    pointer-events: none; /* Make sure it's not interactive */
    font-style: italic; /* Style placeholder text */
  }